<template name="courseTpl">
    <div class="container">
        {{#if name}}
            <h3>{{name}}</h3>
            <p>{{description}}</p>
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="#chat" role="tab" data-toggle="tab">Chat</a></li>
                <li role="presentation"><a href="#files" role="tab" data-toggle="tab">Files</a></li>
                <li role="presentation"><a href="#videos" role="tab" data-toggle="tab">Videos</a></li>
                <li role="presentation"><a href="#support" role="tab" data-toggle="tab">Support</a></li>
            </ul>

            <div class="tab-content">
                <br>
                <div class="tab-pane active" id="chat">
                    {{>chatCourseTpl}}
                </div>
                <div class="tab-pane" id="files">
                    <h1>Files</h1>
                </div>
                <div class="tab-pane" id="videos">
                    <h1>Videos</h1>
                </div>
                <div class="tab-pane" id="support">
                    <h1>Support</h1>
                </div>
            </div>
        {{else}}
            <h1>Not found</h1>
        {{/if}}
    </div>
</template>