<template name="conferenceTpl">
    <div class="container conference">
        <div class="center">
            <h3>{{name}}</h3>
            <p>{{description}}</p>
        </div>
        <hr>
        <div class="row">
            <div class="left col-md-8">
                <div id="stream">
                    <div id="streamScreen"></div>
                    <div id="streamCam"></div>
                </div>
            </div>
            <div class="right col-md-4">
                {{#if isMine userId}}
                    <button id='launch' class="btn btn-block btn-primary">Launch conference</button>
                {{else}}
                    <button id='participate' class="btn btn-block btn-primary">Participate conference</button>
                {{/if}}
                {{>chatConferenceTpl}}
            </div>
        </div>
    </div>
</template>