<template name="conferenceListTpl">
    <div class="{{#if isNotCourseContext}}container{{/if}}">
        {{#if isNotCourseContext}}
            <a class="btn btn-success" href="/conference/create">Propose a conference</a>
            <hr>
        {{/if}}
        {{#each conferences}}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{name}}</h3>
                </div>
                <div class="panel-body">
                    <p>{{description}}</p>
                    <p>{{fromNow createdAt}}</p>
                    <p>{{username userId}}</p>
                    <a href="{{urlFor route='conference.view' _id=_id}}" class="pull-right btn btn-primary">view</a>
                </div>
            </div>
        {{/each}}
    </div>
</template>