<template name="courseListTpl">
    <div class="container">
        <a class="btn btn-success" href="/course/create">Propose a course</a>
        <hr>
        <ul class="nav nav-tabs">
            <li role="presentation"><a id="allCourses" role="tab" data-toggle="tab">All</a></li>
            <li role="presentation"><a id="myCourses" role="tab" data-toggle="tab">Participate</a></li>
        </ul>
        <br>
        {{#each courses}}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{name}}</h3>
                </div>
                <div class="panel-body">
                    <p>{{description}}</p>
                    <p>{{fromNow createdAt}}</p>
                    <p>{{username userId}}</p>
                    <div class="btn-group pull-right">
                        <a href="{{urlFor route='course.view' _id=_id}}" class="btn btn-primary">view</a>
                        {{#if displayBtnParticipate id=_id}}
                            {{>btnParticipate courseId=_id}}
                        {{/if}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</template>

<template name="btnParticipate">
    <button class="btn btn-primary" id="participateBtn">Participate</button>
</template>